<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pet Overview</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{content.name}}</dd>
      <dt>Owner</dt>
      <dd>{{content.owner}}</dd>
      <dt>Breed</dt>
      <dd>{{content.breed}}</dd>
      <dt>Age</dt>
      <dd>{{content.age}}</dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Veterinary</h3>
  </div>
  <div class="panel-body">
    <p>Vet info here</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Appointments</h3>
  </div>
  <div class="panel-body">
    <p>Appointments here</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reminders</h3>
  </div>
  <div class="panel-body">
    <p>Reminders here</p>
  </div>
</div>
