<h1>My Pets</h1>

<div class="row">
  <div class="col-md-3">
    {{#each content as |pet| }}
      {{#link-to "pets.pet" pet.id}}
        <div class="well well-sm">
          <div class="row">
            <div class="col-xs-1 col-sm-2">
              <span class="glyphicon  glyphicon-star" aria-hidden="true"></span>
            </div>
            <div class="col-xs-4 col-sm-10">
              {{pet.name}}
            </div>
          </div>
        </div>
        {{/link-to}}
    {{/each}}
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>


<div class="row">
  <div class="col-md-3">
      {{#link-to "pets.new" class="btn btn-success btn-default"}}Add Pet{{/link-to}}
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-3">
    {{#link-to "index" class="btn btn-default btn-default"}}Back{{/link-to}}
  </div>
</div>


